<!DOCTYPE html>
<html>
<head>
    <title>TOPSIS - Analiza decizionala</title>
    <style>
        .section { margin-bottom: 20px; padding: 10px; border: 1px solid #ccc; }
        .criteriu, .alternativa { margin-bottom: 10px; }
    </style>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
 <h2 class="title">Sistem decizional multicriterial - TOPSIS</h2>

    <form action="/topsis" method="POST" class="form">
        <div class="section" id="criterii-section">
            <h3>Criterii</h3>
            <div class="criteriu">
                Nume: <input type="text" name="criteriu_nume[]" required>
                Pondere: <input type="number" name="criteriu_pondere[]" step="0.01" required>
                Tip:
                <select name="criteriu_tip[]">
                    <option value="1">MAX</option>
                    <option value="0">MIN</option>
                </select>
            </div>
        </div>
        <button type="button" onclick="adaugaCriteriu()">Adaugă criteriu</button>

        <div class="section" id="alternative-section">
            <h3>Alternative</h3>
            <div class="alternativa">
                Nume: <input type="text" name="alternativa_nume[]" required><br>
                <div class="valori_criterii"></div>
            </div>
        </div>
        <button type="button" onclick="adaugaAlternativa()">Adaugă alternativă</button>

        <br><br>
        <button type="submit" class="submit">Calculează scorul TOPSIS</button>
    </form>

    {% if rezultate %}
    <div>
        <h3>Rezultate TOPSIS:</h3>
        <ol class="rezultate">
            {% for nume, scor in rezultate %}
                <li {% if loop.first %} class="first_alt" {% endif %}>
                <strong>{{ nume }}</strong> — Scor: {{ "%.4f"|format(scor) }}
                {% if loop.first %}(Varianta optimă){% endif %}
                </li>
            {% endfor %}
        </ol>
        {% endif %}

        <div class="card">
            <div class="card2">
                <div class="explicatii">
                    <h3>Algoritm</h3>

                    <p>Metoda TOPSIS (Technique for Order Preference by Similarity to Ideal Solution) este o metodă de analiză decizională care ajută la selectarea celei mai bune alternative dintre mai multe opțiuni, pe baza unor criterii multiple.</p>
                    <p>Scorurile pentru fiecare alternativă sunt calculate pe baza criteriilor specificate.</p>
                    <p>Alternativa cu cel mai mare scor este considerată varianta optimă.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
